.bgwrap {
  // Change the filename to your desired background, ensure that file is located in public folder.
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.4rem;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    > img {
      width: 10rem;
      height: 10rem;
      object-fit: contain;
    }

    > h2 {
      position: absolute;
      font-size: 2.8rem;
      font-weight: bold;
      top: 1rem;
      left: 12.5rem;
      right: auto;
      white-space: nowrap;
    }

    .entrant-info {
      h3 {
        font-size: 1.8rem;
        padding-bottom: .2rem;
      }

      li {
        display: flex;
        justify-content: space-between;
        padding-top: .2rem;
        font-size: 1.5rem;
        width: 9rem;
      }
    }

    .clear-info, .ladder {
      font-size: 1.4rem;
    }

    .clear-info {
      min-width: 8rem;

      li {
        display: flex;
        justify-content: space-between;
      }
    }

    .tech-level-info {
      width: 10rem;
      height: 10rem;
    }

    .ladder {
      min-width: 15rem;
      > h2 {
        text-decoration: underline;
        padding-bottom: .1rem;
      }

      > ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 0 .3rem;
        }
      }
    }
  }
}