.horizontal {
  &.bgwrap {
    max-width: 62rem;
  }

  .wrapper {
    height: calc(100% - 1rem);
    padding: .5rem;
  }
}

.vertical {
  &.bgwrap {
    width: 40.5rem;
  }

  .wrapper {
    height: calc(100% - 1rem);
    padding: .5rem;

    .ladder {
      width: 40.5rem;
      position: absolute;
      top: 13.2rem;
      left: 0.8rem;
    }
  }
}