// Light colors
$lightbg: rgba(255, 255, 255, 0.80);
$lightgrey: rgb(153, 153, 153);
$lightgreen: rgb(0, 120, 0);
$lightyellow: rgb(218, 165, 32);
$lightblue: rgb(52, 162, 208);
$lightpink: rgb(238, 99, 123);
$lightrival: rgba(221, 204, 204);
$lightself: rgba(204, 221, 204);
$lightneutral: rgba(238, 238, 238);

// Dark colors
$darkbg: rgba(0, 0, 0, 0.7);
$darkgrey: rgb(170, 170, 170);
$darkgreen: rgb(144, 238, 144);
$darkgold: rgb(218, 165, 32);
$darkblue: rgb(135, 206, 235);
$darkpink: rgb(255, 192, 203);
$darkrival: rgba(152, 102, 102, 0.5);
$darkself: rgba(102, 152, 102, 0.5);
$darkneutral: rgba(170, 170, 170, 0.5);
$darkladderneutral: rgb(76, 76, 76);
$darkladderrival: rgb(152, 102, 102);
$darkladderself: rgb(102, 152, 102);